pip==24.0
setuptools==69.0.3
wheel
fastapi
uvicorn
pandas
pydantic
matplotlib
seaborn
python-multipart
wordcloud
transformers==4.40.0
torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu
tokenizers==0.19.1
